<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cars</key>
		<array>
			<string>奥迪</string>
			<string>宝马</string>
			<string>奔驰</string>
			<string>保时捷</string>
			<string>大众</string>
		</array>
		<key>title</key>
		<string>德系品牌</string>
		<key>desc</key>
		<string>高端大方上档次，世界一流品牌</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<string>本田</string>
			<string>丰田</string>
			<string>铃木</string>
			<string>雷克萨斯</string>
			<string>马自达</string>
			<string>日产</string>
			<string>三菱</string>
			<string>现代</string>
		</array>
		<key>title</key>
		<string>日韩品牌</string>
		<key>desc</key>
		<string>牛逼哄哄，哎哟，好像不错</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<string>别克</string>
			<string>福特</string>
			<string>Jeep</string>
			<string>凯迪拉克</string>
			<string>林肯</string>
			<string>雪佛兰</string>
		</array>
		<key>title</key>
		<string>美系品牌</string>
		<key>desc</key>
		<string>老牌汽车，复古风</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<string>标致</string>
			<string>雪铁龙</string>
			<string>宾利</string>
			<string>捷豹</string>
			<string>路虎</string>
			<string>劳斯莱斯</string>
			<string>法拉利</string>
			<string>兰博基尼</string>
			<string>玛莎拉蒂</string>
		</array>
		<key>title</key>
		<string>欧系其他</string>
		<key>desc</key>
		<string>优雅高贵，你值得拥有</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<string>比亚迪</string>
			<string>奔腾</string>
			<string>北京汽车</string>
			<string>长城</string>
			<string>东南</string>
			<string>东风</string>
		</array>
		<key>title</key>
		<string>自主品牌</string>
		<key>desc</key>
		<string>Made In China，质量你懂的</string>
	</dict>
</array>
</plist>
